/* Margin for GtkSourceView widgets */
.source-view {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/* HTTP Page Specific Styles */
.header-key {
    color: #3584e4; /* Adwaita Blue */
    /* font-weight: bold; */
}
.header-value {
    color: @theme_fg_color;
}

/* Style for Adw.EntryRow and Adw.ComboRow when an override is active */
.active-override {
    background-color: rgba(0, 120, 212, 0.08); /* Light blueish background */
    border-left: 3px solid rgba(0, 120, 212, 0.7); /* Blueish border */
}
